* {
    /* border: 1px solid red; */
    /* look this up */
    box-sizing: border-box;
}

.screen-wrap {
    width: 1026px;
    position: relative;
    display: inline-block;

}

.ui-wrap {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.timer {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex-shrink: 0;
}

.health-wrap {
    background-color: aqua;
    border: 2px solid lightgrey;
    height: 54px;
    width: 100%;
}

.healthbar {
    background-color: yellow; 
    height: 50px;
    width: 100%;
}

.player-health {
    display: flex;
    justify-content: flex-end;
}

.win-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}